<div class="panel panel-default gallery-result document">
  <%= document_actions %>
  <div class="panel-body">
    <div class="image-wrapper">
      <%= thumbnail_link %>
    </div>
    <div class="title">
      <%= title_link %>
    </div>
  </div>
</div>
