---
http_interactions:
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/list
    body:
      encoding: UTF-8
      string: '{"filter":{"entryIdEqual":"0_2f0zy0t1","objectType":"KalturaAssetFilter"},"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"1909fef2c26819ccd60f55df9b4e7722"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - nvp1-fapi-bnghh
      X-Kaltura-Session:
      - 1372270516, 1716423860
      X-Kaltura:
      - cache-key,cache_v3-5fe5671ecf4d43c044f19a3716271601
      X-Proxy-Me:
      - nvp1-front-proxy-green-ng-65f78b6fbb-zt9nf
      X-Proxy-Session:
      - bbc6408d823d341e298de26c216ae87e
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaCaptionAssetListResponse</objectType><relatedObjects></relatedObjects><totalCount>2</totalCount><objects><item><objectType>KalturaCaptionAsset</objectType><relatedObjects></relatedObjects><id>1_7a2prfnn</id><entryId>0_2f0zy0t1</entryId><partnerId>1369852</partnerId><version>1</version><size>14240</size><tags></tags><fileExt>DFXP</fileExt><createdAt>1495614470</createdAt><updatedAt>1580493989</updatedAt><deletedAt></deletedAt><description></description><partnerData></partnerData><partnerDescription></partnerDescription><actualSourceAssetParamsIds></actualSourceAssetParamsIds><sizeInBytes>0</sizeInBytes><captionParamsId>0</captionParamsId><language>English</language><languageCode>en</languageCode><isDefault>1</isDefault><label>English</label><format>2</format><source></source><status>2</status><parentId></parentId><accuracy></accuracy><displayOnPlayer>0</displayOnPlayer><associatedTranscriptIds></associatedTranscriptIds></item><item><objectType>KalturaCaptionAsset</objectType><relatedObjects></relatedObjects><id>1_mdng1qgl</id><entryId>0_2f0zy0t1</entryId><partnerId>1369852</partnerId><version>1</version><size>20954</size><tags></tags><fileExt>srt</fileExt><createdAt>1580493988</createdAt><updatedAt>1580493990</updatedAt><deletedAt></deletedAt><description></description><partnerData></partnerData><partnerDescription></partnerDescription><actualSourceAssetParamsIds></actualSourceAssetParamsIds><sizeInBytes>0</sizeInBytes><captionParamsId>0</captionParamsId><language>English</language><languageCode>en</languageCode><isDefault></isDefault><label>English</label><format>1</format><source></source><status>2</status><parentId></parentId><accuracy>91</accuracy><displayOnPlayer>1</displayOnPlayer><associatedTranscriptIds>1_5gzeqrag,1_h9qs78ak</associatedTranscriptIds></item></objects></result><executionTime>0.022434949874878</executionTime></xml>
  recorded_at: Thu, 23 May 2024 00:24:19 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_mdng1qgl&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-5sb29
      X-Kaltura-Session:
      - 1541521023, 1716423860
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cache_v3-1869f6d5d5b5a21df3dd53071c1a6870
      Last-Modified:
      - Sun, 19 Nov 2000 08:52:00 GMT
      X-Proxy-Me:
      - nvp1-front-proxy-green-ng-65f78b6fbb-vh228
      X-Proxy-Session:
      - 1e08ab9a07bd1b56d41b93a8ee9aadba
    body:
      encoding: ASCII-8BIT
      string: |
        1
        00:00:12,020 --> 00:00:14,110
        Okay.

        2
        00:00:19,220 --> 00:00:21,430
        Right.

        3
        00:01:12,550 --> 00:01:14,885
        You want to go to copycat?

        4
        00:01:14,885 --> 00:01:23,630
        I'd love[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_i0iplti7&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-7stgf
      X-Kaltura-Session:
      - 771438178, 1716425002
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cach[...]
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/list
    body:
      encoding: UTF-8
      string: '{"filter":{"entryIdEqual":"asdf","objectType":"KalturaAssetFilter"},"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"abbe6a4388b58a945c98f30b637caeb5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - nvp1-fapi-k9m47
      X-Kaltura-Session:
      - 1717647850, 1716425605
      X-Kaltura:
      - cache-key,cache_v3-10df54ce74b830e41b5a261e015ac0f7
      X-Proxy-Me:
      - nvp1-front-proxy-green-ng-65f78b6fbb-zt9nf
      X-Proxy-Session:
      - e096895b47e9982a63eaa07797c7a16c
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaCaptionAssetListResponse</objectType><relatedObjects></relatedObjects><totalCount>0</totalCount><objects></objects></result><executionTime>0.026726007461548</executionTime></xml>
  recorded_at: Thu, 23 May 2024 00:53:25 GMT
recorded_with: VCR 6.1.0
