---
http_interactions:
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/list
    body:
      encoding: UTF-8
      string: '{"filter":{"entryIdEqual":"0_2f0zy0t1","objectType":"KalturaAssetFilter"},"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"<kalsig>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - nvp1-fapi-4vjb4
      X-Kaltura-Session:
      - 703396194, 1724286891
      X-Proxy-Me:
      - nvp1-front-proxy-blue-ng-78fdb57f7b-8hh7q
      X-Proxy-Session:
      - 291bfc87b775a38b615cf917f8c33afc
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaCaptionAssetListResponse</objectType><relatedObjects></relatedObjects><totalCount>2</totalCount><objects><item><objectType>KalturaCaptionAsset</objectType><relatedObjects></relatedObjects><id>1_7a2prfnn</id><entryId>0_2f0zy0t1</entryId><partnerId>1369852</partnerId><version>1</version><size>14240</size><tags></tags><fileExt>DFXP</fileExt><createdAt>1495614470</createdAt><updatedAt>1580493989</updatedAt><deletedAt></deletedAt><description></description><partnerData></partnerData><partnerDescription></partnerDescription><actualSourceAssetParamsIds></actualSourceAssetParamsIds><sizeInBytes>0</sizeInBytes><captionParamsId>0</captionParamsId><language>English</language><languageCode>en</languageCode><isDefault>1</isDefault><label>English</label><format>2</format><source></source><status>2</status><parentId></parentId><accuracy></accuracy><displayOnPlayer>0</displayOnPlayer><associatedTranscriptIds></associatedTranscriptIds></item><item><objectType>KalturaCaptionAsset</objectType><relatedObjects></relatedObjects><id>1_mdng1qgl</id><entryId>0_2f0zy0t1</entryId><partnerId>1369852</partnerId><version>1</version><size>20954</size><tags></tags><fileExt>srt</fileExt><createdAt>1580493988</createdAt><updatedAt>1580493990</updatedAt><deletedAt></deletedAt><description></description><partnerData></partnerData><partnerDescription></partnerDescription><actualSourceAssetParamsIds></actualSourceAssetParamsIds><sizeInBytes>0</sizeInBytes><captionParamsId>0</captionParamsId><language>English</language><languageCode>en</languageCode><isDefault></isDefault><label>English</label><format>1</format><source></source><status>2</status><parentId></parentId><accuracy>91</accuracy><displayOnPlayer>1</displayOnPlayer><associatedTranscriptIds>1_5gzeqrag,1_h9qs78ak</associatedTranscriptIds></item></objects></result><executionTime>0.075995922088623</executionTime></xml>
  recorded_at: Thu, 22 Aug 2024 00:34:51 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_mdng1qgl&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-c46jg
      X-Kaltura-Session:
      - 75185551, 1724286891
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cache_v3-1869f6d5d5b5a21df3dd53071c1a6870
      Last-Modified:
      - Sun, 19 Nov 2000 08:52:00 GMT
      X-Proxy-Me:
      - nvp1-front-proxy-blue-ng-78fdb57f7b-7x88v
      X-Proxy-Session:
      - e1392f3e7e6aff7fc6aec0617745c162
    body:
      encoding: ASCII-8BIT
      string: |
        1
        00:00:12,020 --> 00:00:14,110
        Okay.

        2
        00:00:19,220 --> 00:00:21,430
        Right.

        3
        00:01:12,550 --> 00:01:14,885
        You want to go to copycat?

        4
        00:01:14,885 --> 00:01:23,630
        I'd love [...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_dclj4vkj&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-r8m8q
      X-Kaltura-Session:
      - 670714529, 1724287899
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cach[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_7115eajr&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-2mp6f
      X-Kaltura-Session:
      - 2126111809, 1724287899
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cac[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_465448w2&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-px722
      X-Kaltura-Session:
      - 1534014211, 1724287900
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cac[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_e23engw7&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-brnhf
      X-Kaltura-Session:
      - 1993998302, 1724287901
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cac[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_i0iplti7&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-xddp2
      X-Kaltura-Session:
      - 775842436, 1724287902
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cach[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_50u1m08h&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-nbwxz
      X-Kaltura-Session:
      - 1882416674, 1724287903
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cac[...]
[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_69xi1alx&ks=<KS>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-nbwxz
      X-Kaltura-Session:
      - 690088656, 1724287904
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cach[...]
