---
http_interactions:
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/list
    body:
      encoding: UTF-8
      string: '{"filter":{"entryIdEqual":"0_2f0zy0t1","objectType":"KalturaAssetFilter"},"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"1909fef2c26819ccd60f55df9b4e7722"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - nvp1-fapi-tbjmg
      X-Kaltura-Session:
      - 1240024612, 1714858046
      X-Kaltura:
      - cache-key,cache_v3-5fe5671ecf4d43c044f19a3716271601
      X-Proxy-Me:
      - nvp1-front-proxy-green-ng-65f78b6fbb-nbpkc
      X-Proxy-Session:
      - cef4b16accd40d1c4f4d6edae5954863
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaCaptionAssetListResponse</objectType><objects><item><objectType>KalturaCaptionAsset</objectType><captionParamsId>0</captionParamsId><language>English</language><languageCode>en</languageCode><isDefault>1</isDefault><label>English</label><format>2</format><source></source><status>2</status><parentId></parentId><accuracy></accuracy><displayOnPlayer>0</displayOnPlayer><associatedTranscriptIds></associatedTranscriptIds><id>1_7a2prfnn</id><entryId>0_2f0zy0t1</entryId><partnerId>1369852</partnerId><version>1</version><size>14240</size><tags></tags><fileExt>DFXP</fileExt><createdAt>1495614470</createdAt><updatedAt>1580493989</updatedAt><deletedAt></deletedAt><description></description><partnerData></partnerData><partnerDescription></partnerDescription><actualSourceAssetParamsIds></actualSourceAssetParamsIds><sizeInBytes>0</sizeInBytes><relatedObjects></relatedObjects></item><item><objectType>KalturaCaptionAsset</objectType><captionParamsId>0</captionParamsId><language>English</language><languageCode>en</languageCode><isDefault></isDefault><label>English</label><format>1</format><source></source><status>2</status><parentId></parentId><accuracy>91</accuracy><displayOnPlayer>1</displayOnPlayer><associatedTranscriptIds>1_5gzeqrag,1_h9qs78ak</associatedTranscriptIds><id>1_mdng1qgl</id><entryId>0_2f0zy0t1</entryId><partnerId>1369852</partnerId><version>1</version><size>20954</size><tags></tags><fileExt>srt</fileExt><createdAt>1580493988</createdAt><updatedAt>1580493990</updatedAt><deletedAt></deletedAt><description></description><partnerData></partnerData><partnerDescription></partnerDescription><actualSourceAssetParamsIds></actualSourceAssetParamsIds><sizeInBytes>0</sizeInBytes><relatedObjects></relatedObjects></item></objects><totalCount>2</totalCount><relatedObjects></relatedObjects></result><executionTime>0.012434959411621</executionTime></xml>
  recorded_at: Sat, 04 May 2024 21:27:24 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/service/caption_captionasset/action/serve?captionAssetId=1_mdng1qgl&ks=djJ8MTM2OTg1Mnx7LkA0JwoHOG3Vj6MZ4vx1mh3c3x9FkocW4EtkL3QGzz56a1gmaNLITCfgy7H4775jIcd_ithSXA95ciZtrLta7aZme-BEqdlqzm-wP7au2A==
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Me:
      - nvp1-fapi-qkbtc
      X-Kaltura-Session:
      - 449858057, 1714858046
      X-Kaltura-Acp:
      - '1282602'
      X-Kaltura:
      - cache-key,cache_v3-1869f6d5d5b5a21df3dd53071c1a6870
      Last-Modified:
      - Sun, 19 Nov 2000 08:52:00 GMT
      X-Proxy-Me:
      - nvp1-front-proxy-green-ng-65f78b6fbb-w9bxr
      X-Proxy-Session:
      - 9cc2968bd4592016f1826418e1c025ed
    body:
      encoding: ASCII-8BIT
      string: |
        1
        00:00:12,020 --> 00:00:14,110
        Okay.

        2
        00:00:19,220 --> 00:00:21,430
        Right.

        3
        00:01:12,550 --> 00:01:14,885
        You want to go to copycat?

        4
        00:01:14,885 --> 00:01:23,630
        I'd love[...]
