---
http_interactions:
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/baseentry/action/get
    body:
      encoding: UTF-8
      string: '{"entryId":"0_8mpcabfz","version":-1,"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"bc87eedc08ae5e3f80b5400d96178f45"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - ny-nvp1-fapi-b9b5
      X-Kaltura-Session:
      - 1139137644, 1659314499
      X-Kaltura:
      - cache-key,cache_v3-27311af833d2fa103884c4ea4ade98bd
      X-Proxy-Me:
      - nvp1-front-proxy-blue-75b6988ddf-xcf95
      X-Proxy-Session:
      - 97bcaa866eca4b162b42fce7322e2b00
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaPlaylist</objectType><playlistContent>0_2kwkz0xm,0_8vwu6yp4</playlistContent><filters></filters><totalResults></totalResults><playlistType>3</playlistType><plays>0</plays><views>0</views><duration>0</duration><executeUrl>k_pl_0_name=Interview
        with Glenn Kelley, Minnesota Supreme Court Historical Society Oral History
        Project, St. Paul, Minnesota&amp;k_pl_0_url=http%3A%2F%2Fwww.kaltura.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D1369852%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D0_8mpcabfz</executeUrl><id>0_8mpcabfz</id><name>Interview
        with Glenn Kelley, Minnesota Supreme Court Historical Society Oral History
        Project, St. Paul, Minnesota</name><description>sll708202a; sll708202b</description><partnerId>1369852</partnerId><userId>jasonroy@umn.edu</userId><creatorId>jasonroy@umn.edu</creatorId><tags></tags><adminTags></adminTags><categories></categories><categoriesIds></categoriesIds><status>2</status><moderationStatus>6</moderationStatus><moderationCount>0</moderationCount><type>5</type><createdAt>1552403402</createdAt><updatedAt>1557242330</updatedAt><rank>0</rank><totalRank>0</totalRank><votes>0</votes><groupId></groupId><partnerData></partnerData><downloadUrl>http://cdnbakmi.kaltura.com/p/1369852/sp/0/raw/entry_id/0_8mpcabfz/version/100002</downloadUrl><searchText>_PAR_ONLY_
        _1369852_ _MEDIA_TYPE_3|  Interview with Glenn Kelley, Minnesota Supreme Court
        Historical Society Oral History Project, St. Paul, Minnesota sll708202a; sll708202b
        </searchText><licenseType></licenseType><version>100002</version><thumbnailUrl>http://cfvod.kaltura.com/p/1369852/sp/0/thumbnail/entry_id/0_8mpcabfz/version/100002</thumbnailUrl><accessControlId>1282602</accessControlId><startDate></startDate><endDate></endDate><referenceId></referenceId><replacingEntryId></replacingEntryId><replacedEntryId></replacedEntryId><replacementStatus>0</replacementStatus><partnerSortValue>0</partnerSortValue><conversionProfileId></conversionProfileId><redirectEntryId></redirectEntryId><rootEntryId>0_8mpcabfz</rootEntryId><parentEntryId></parentEntryId><operationAttributes></operationAttributes><entitledUsersEdit></entitledUsersEdit><entitledUsersPublish></entitledUsersPublish><entitledUsersView></entitledUsersView><capabilities></capabilities><templateEntryId></templateEntryId><displayInSearch>1</displayInSearch><application></application><applicationVersion></applicationVersion><blockAutoTranscript>0</blockAutoTranscript><relatedObjects></relatedObjects></result><executionTime>0.26469111442566</executionTime></xml>
  recorded_at: Mon, 01 Aug 2022 00:41:39 GMT
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/baseentry/action/get
    body:
      encoding: UTF-8
      string: '{"entryId":"0_2kwkz0xm","version":-1,"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"83f5c77fb9fb99130c025f84d6d0bbd2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - ny-nvp1-fapi-7eaf
      X-Kaltura-Session:
      - 1499923472, 1659314499
      X-Kaltura:
      - cache-key,cache_v3-bb7c36da03317b00282e356b18694a77
      X-Proxy-Me:
      - nvp1-front-proxy-blue-75b6988ddf-zq4q9
      X-Proxy-Session:
      - aa41d1b48f8189716aff5e87f2f3c05c
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaEntry</objectType><mediaType>1</mediaType><conversionQuality>4162302</conversionQuality><sourceType>1</sourceType><sourceVersion></sourceVersion><searchProviderType></searchProviderType><searchProviderId></searchProviderId><creditUserName></creditUserName><creditUrl></creditUrl><mediaDate></mediaDate><dataUrl>http://cdnapi.kaltura.com/p/1369852/sp/136985200/playManifest/entryId/0_2kwkz0xm/format/url/protocol/http</dataUrl><flavorParamsIds>0,487041,487051,487071</flavorParamsIds><isTrimDisabled></isTrimDisabled><streams></streams><plays>19</plays><views>186</views><lastPlayedAt>1618322400</lastPlayedAt><width>918</width><height>696</height><duration>6415</duration><msDuration>6415256</msDuration><durationType></durationType><id>0_2kwkz0xm</id><name>Interview
        with Glenn Kelley, Minnesota Supreme Court Historical Society Oral History
        Project, St. Paul, Minnesota, Part 1</name><description>sll708202a</description><partnerId>1369852</partnerId><userId>bahne002@umn.edu</userId><creatorId>bahne002@umn.edu</creatorId><tags>lawyers,
        law school, higher education institution, schools, minnesota state law library,
        university, legislation, crime, education and upbringing, legal sc[...]
[...]
