---
http_interactions:
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetItemInfo/msn/2670/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Streetcar in Phalen Park, St. Paul, Minnesota","photog":"Podas,
        Norm ","contri":{},"descri":"Looking northeast at a southbound car coming
        around the loop in Phalen Park.","dat":"1950''s","publia":{},"dimens":{},"genera":"Transportation","type":"Still
        Image","physic":"Black-and-white photographs","specif":"Street-railroads;
        Transportation;","subjec":"Streetcar","city":"St. Paul","county":"Ramsey","state":"Minnesota","countr":"United
        States","geogra":{},"geonam":"https:\/\/sws.geonames.org\/5045473\/","langua":{},"par":{},"contra":"Minnesota
        Streetcar Museum","contac":"Minnesota Streetcar Museum, P. O. Box 16509, Minneapolis,
        MN 55416-0509, www.trolleyride.org","righta":"http:\/\/rightsstatements.org\/vocab\/InC\/1.0\/","rights":"In
        Copyright","use":"http:\/\/rightsstatements.org\/vocab\/InC\/1.0\/","rightb":"This
        Item is protected by copyright and\/or related rights. You are free to use
        this Item in any way that is permitted by the copyright and related rights
        legislation that applies to your use. For other uses you need to obtain permission
        from the rights-holder(s).","expect":{},"identi":"msm_3329","resour":"umn385635","projec":"Minnesota
        Reflections 2018-19;","fiscal":"Funding provided to the Minnesota Digital
        Library through the Minnesota Arts and Cultural Heritage Fund, a component
        of the Minnesota Clean Water, Land and Legacy constitutional amendment, ratified
        by Minnesota voters in 2008.","publis":"University of Minnesota","date":"12\/6\/2018
        16:27","format":"image\/jp2","digspe":"image\/tiff","digspa":"38290184","digspb":"24","digspc":"800","digspd":"none","digspf":"4256","digspg":"2997","digsph":"Epson
        11000XL scanner","digspi":"Adobe Photoshop CS","digspj":"Windows XP","digspk":"a6607482e5b55ddc170fa6afd0761620","transc":{},"transl":{},"fullrs":"Volume19\/umn385635.tif","find":"2162.jp2","dmaccess":{},"dmimage":{},"dmcreated":"2019-06-14","dmmodified":"2019-11-08","dmoclcno":{},"dmrecord":"2670","restrictionCode":"1","cdmfilesize":"1342617","cdmfilesizeformatted":"1.28
        MB","cdmprintpdf":"0","cdmhasocr":"0","cdmisnewspaper":"0"}'
  recorded_at: Sat, 16 Jan 2021 03:10:51 GMT
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCompoundObjectInfo/msn/2670/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Requested item is not compound","code":"-2"}'
  recorded_at: Sat, 16 Jan 2021 03:10:51 GMT
- request:
    method: get
    uri: http://ws.geonames.net/getJSON?geonameId=5045473&token=&username=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"message":"Please provide a valid username for the GeoNames
        Premium Web Service or use the free api.geonames.org server. Thank you for
        your understanding.","value":10}}'
  recorded_at: Sat, 16 Jan 2021 03:10:51 GMT
[...]
- request:
    method: get
    uri: https://cdm16022.contentdm.oclc.org/iiif/2/msn:2670/manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://iiif.io/api/presentation/2/context.json>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      X-Oclc-Iiif-Provider:
      - cantaloupe
      Content-Type:
      - application/json
      Etag:
      - '"00cf454f6036aa455ebd487784f9061a3--gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@type":"sc:Manifest","@id":"https://cdm16022.contentdm.oclc.org/iiif/msn:2670/manifest.json","label":"Streetcar
        in Phalen Park, St. Paul, Minnesota","metadata":[{"label":"City or Township","value":"St.
        Paul"},{"label":"Contact Information","value":"Minnesota Streetcar Museum,
        P. O. Box 16509, Minneapolis, MN 55416-0509, www.trolleyride.org"},{"label":"Contributing
        Organization","value":"Minnesota Streetcar Museum"},{"label":"Country","value":"United
        States"},{"label":"County","value":"Ramsey"},{"label":"Date Created","value":"1950''s"},{"label":"Description","value":"Looking
        northeast at a southbound car coming a[...]
