---
http_interactions:
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/baseentry/action/get
    body:
      encoding: UTF-8
      string: '{"entryId":"1_h3dokqpd","version":-1,"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"127e8c1a9755172b02e925008f6d7173"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - ny-nvp1-fapi-f965
      X-Kaltura-Session:
      - 627338537, 1659314493
      X-Proxy-Me:
      - nvp1-front-proxy-blue-75b6988ddf-f7z75
      X-Proxy-Session:
      - b16e1c12d583ca490b901c981119a6e6
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaPlaylist</objectType><playlistContent>1_aodbyxua,1_880z74b6,1_mudqx0rg,1_umyvbja9,1_bwmsjxa6,1_3jccvugv,1_c4h2sjiu,1_zrb53lrs,1_6vsdofcj,1_jiw2i80w,1_05n2aec3,1_vmpmo06v</playlistContent><filters></filters><totalResults></totalResults><playlistType>3</playlistType><plays>0</plays><views>0</views><duration>0</duration><executeUrl>k_pl_0_name=Interview
        with Vishant Shah&amp;k_pl_0_url=http%3A%2F%2Fwww.kaltura.com%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D1369852%26subp_id%3D0%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D1_h3dokqpd</executeUrl><id>1_h3dokqpd</id><name>Interview
        with Vishant Shah</name><description>AV1999_4_15_M</description><partnerId>1369852</partnerId><userId>bahne002@umn.edu</userId><creatorId>bahne002@umn.edu</creatorId><tags>minnesota
        immigrants</tags><adminTags></adminTags><categories></categories><categoriesIds></categoriesIds><status>2</status><moderationStatus>6</moderationStatus><moderationCount>0</moderationCount><type>5</type><createdAt>1611850686</createdAt><updatedAt>1611850686</updatedAt><rank>0</rank><totalRank>0</totalRank><votes>0</votes><groupId></groupId><partnerData></partnerData><downloadUrl>http://cdnbakmi.kaltura.com/p/1369852/sp/0/raw/entry_id/1_h3dokqpd/version/100001</downloadUrl><searchText>_PAR_ONLY_
        _1369852_ _MEDIA_TYPE_3|  Interview with Vishant Shah minnesota immigrants
        AV1999_4_15_M </searchText><licenseType></licenseType><version>100001</version><thumbnailUrl>http://cfvod.kaltura.com/p/1369852/sp/0/thumbnail/entry_id/1_h3dokqpd/version/100001</thumbnailUrl><accessControlId>1282602</accessControlId><startDate></startDate><endDate></endDate><referenceId></referenceId><replacingEntryId></replacingEntryId><replacedEntryId></replacedEntryId><replacementStatus>0</replacementStatus><partnerSortValue>0</partnerSortValue><conversionProfileId></conversionProfileId><redirectEntryId></redirectEntryId><rootEntryId>1_h3dokqpd</rootEntryId><parentEntryId></parentEntryId><operationAttributes></operationAttributes><entitledUsersEdit></entitledUsersEdit><entitledUsersPublish></entitledUsersPublish><entitledUsersView></entitledUsersView><capabilities></capabilities><templateEntryId></templateEntryId><displayInSearch>1</displayInSearch><application></application><applicationVersion></applicationVersion><blockAutoTranscript>0</blockAutoTranscript><relatedObjects></relatedObjects></result><executionTime>0.12969493865967</executionTime></xml>
  recorded_at: Mon, 01 Aug 2022 00:41:33 GMT
- request:
    method: post
    uri: http://www.kaltura.com/api_v3/service/baseentry/action/get
    body:
      encoding: UTF-8
      string: '{"entryId":"1_aodbyxua","version":-1,"ks":"<KS>","format":2,"clientTag":"ruby:22-07-27","apiVersion":"18.10.0","kalsig":"943790f08d662a1d920f56910b0de98f"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Me:
      - ny-nvp1-fapi-7eaf
      X-Kaltura-Session:
      - 370596801, 1659314494
      X-Kaltura:
      - cache-key,cache_v3-829860a8f178447e2b0f2e044846aa32
      X-Proxy-Me:
      - nvp1-front-proxy-blue-75b6988ddf-m7h4b
      X-Proxy-Session:
      - 22dc44c1ef8e6e9d8af1289f6bd6d121
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaEntry</objectType><mediaType>5</mediaType><conversionQuality>4162302</conversionQuality><sourceType>5</sourceType><sourceVersion></sourceVersion><searchProviderType></searchProviderType><searchProviderId></searchProviderId><creditUserName></creditUserName><creditUrl></creditUrl><mediaDate></mediaDate><dataUrl>http://cdnapi.kaltura.com/p/1369852/sp/136985200/playManifest/entryId/1_aodbyxua/format/url/protocol/http</dataUrl><flavorParamsIds>0,487041,487071</flavorParamsIds><isTrimDisabled></isTrimDisabled><streams></streams><plays>1</plays><views>6</views><lastPlayedAt>1622052000</lastPlayedAt><width></width><height></height><duration>665</duration><msDuration>664968</msDuration><durationType></durationType><id>1_aodbyxua</id><name>Interview
        with Vishant Shah, Part 1</name><description>AV1999_4_15_M</description><partnerId>1369852</partnerId><userId>jasonroy@umn.edu</userId><creatorId>jasonroy@umn.edu</creatorId><tags>minnesota
        immigrants</tags><adminTags></adminTags><categories>Minnesota Digital Library</categories><categoriesIds>65921852</categoriesIds><status>2</status><moderationStatus>6</moderationStatus><moderationCount>0</moderationCount><type>1</type><createdA[...]
[...]
