<div id="search-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-9">
        <%= render(SearchBarComponent.new(
          url: main_app.search_catalog_url,
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(controller: :catalog, action: :suggest)
        )) %>
      </div>
      <div class="col-sm-6 col-lg-3 advanced">
        <a href="/advanced" class="btn btn-custom">Advanced Search</a>
        <a class="btn btn-light ml-2"
          href="/lists"
          style="border: 1px solid #d3d4d7;color: #000;text-decoration: none;">My Lists
        </a>
      </div>
    </div>
  </div>
</div>
