<div class="document-add-to-list hide text-left text-nowrap">
  <label for="add-to-list-<%= document.id %>">
    <input
      id="add-to-list-<%= document.id %>"
      class="list-eligible"
      type="checkbox"
      data-document-id="<%= document.id %>"
    />
    <small>Add to list</small>
  </label>
</div>
