<% counter = document_counter_with_offset(document_counter) %>
<div class="panel panel-default gallery-result">
  <div class="panel-body">
    <div class="image-wrapper">
      <%=
        document_show_link(
          document: document,
          label: thumbnail_tag(document),
          counter: counter
        )
      %>
    </div>
    <div class="title">
      <%= link_to_document(
        document,
        document_show_link_field(document),
        counter: counter
      ) %>
    </div>
  </div>
</div>
