<li class="more_like_this_document">
  <span class="mlt_title">
    <%=
      link_to(
        image_tag(more_like_this_thumbnail_path(doc), alt: doc[:title]),
        url_for(
          controller: 'catalog',
          action: 'show',
          id: "#{doc[:item_id]}",
          pn: false,
          anchor: doc[:borealis_fragment]
        ),
        title: doc[:title]
      )
    %>
  </span>
</li>
