<div class="addthis_inline_share_toolbox"></div>
  <%= link_to(
    "Browse the #{@document.contributing_organization} collection",
    @document.collection_url,
    class: 'btn btn-primary'
  ) %>
<% unless @document.more_like_this.empty? %>
  <div class="card panel-default more-like-this">
    <div class="card-header">Related Items</div>
    <div class="card-body">
      <%= render(collection: @document.more_like_this, partial: 'show_more_like_this', as: :doc) %>
    </div>
  </div>
<% end %>

<%= json_page_link %>
