<% thumbnail = document_presenter(document).thumbnail %>
<%- if thumbnail.exists? %>
<div class="document-thumbnail">
  <% label = thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter), suppress_link: true) %>
  <%= document_show_link(document: document, label: label) %>
</div>
<%- end %>
