<%- if has_thumbnail?(document) %>
<div class="document-thumbnail">
  <% tn = render_thumbnail_tag(document, {}, counter: document_counter_with_offset(document_counter), suppress_link: true)%>
  <%= document_show_link(document: document, label: tn) %>
</div>
<%- end %>
